.card {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-border-opacity: 1;
    border-color: 1px solid rgb(229 231 235 / var(--tw-border-opacity));
    border-radius: 0.5rem;
}
.card-header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    padding: 1rem;
    --tw-bg-opacity: 1;
    background-color: #d3e6ff;
    width: 100%;
    display: block;
}
.card-body {
    padding: 1rem;
    width: 100%;
    display: block;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.rows {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.text-error {
    color: #ef4444;
}
.text-success {
    color: #22c55e;
}
.table-action {
    min-width: 110px;
}
@media (max-width: 600px) {
    .container {
        padding: 0;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Items */

.menu-item:hover .sub-item{
    display: block;
}
.sub-item {
    display: block;
    background-color: #1f2937;
    box-shadow: 0px 2px 2px #0f1113;
    width: 100%;
}
.sub-item li {
    padding-left: 15px;
}

/* Outbound */
.repeater .form-group,
.repeater .form-group input,
.repeater .form-group select{
    margin-bottom: 0;
}

/* Media Queries */
@media screen and (min-width: 640px) {
    .sub-item {
        display: none;
        position: absolute;
    }
}